body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #7d97ad;
  font-style: normal;
  overflow-x: hidden;
  background-color: #f8f8ff;
}

img {
  max-width: 100%;
}

a {
  color: #02b3e4;
  font-size: 16px;
  margin-top: 50px;
}

p {
  margin: 0.5rem 0 0.5rem;
}

footer {
  background: #7d97ad;
  color: #fff;
  margin-top: 20px;
  padding: 0.1rem;
}

.project_image img {
  height: auto;
  width: 100%;
}

.hr_prop {
  height: 2px;
  margin-bottom: 22px;
  background-color: #7d97ad;
  border-style: inset;
}

.jflogo {
  margin-top: 10px;
  max-height: 150px;
}

.header_caption {
  margin-top: 25px;
}

.header_caption h1 {
  font-size: 40px;
  font-weight: 100;
}

.header_caption h3 {
  font-size: 25px;
  font-weight: 100;
}

.project-title {
  margin: 35px 0px 0px;
  font-size: 35px;
}

.additional {
  margin: 35px 0px 20px;
  font: italic 20px "Lucida Sans Unicode";
}

.col-project {
  margin: 15px 0px 15px;
}

.project_caption {
  color: #2d3c49;
  font: 400 25px "Lucida Sans Unicode";
  margin-top: 5px;
}

.school_caption {
  color: #7d97ad;
  font: 300 14px "Lucida Sans Unicode";
  margin: 15px 0px 05px;
}

.project_image {
  height: auto;
  border-style: outset;
  border-radius: 3px;
}

.main_image {
  height: auto;
  border-radius: 5px;
}
